@model SocialNetwork.Core.Models.Gallery

@{
    ViewBag.Title = "GalleryDetails";
}

<style>
    .form-group {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
    input[type=submit] {
        margin: 0 10px;
    }
    .photo {
        width: 200px;
        height: 200px;
        border: 1px solid black;
        margin-right: 15px;
        margin-bottom: 15px;
    }
</style>
<h2>Galeria de Fotos</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />

    @using (Html.BeginForm("AddPhoto", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label class="col-md-2">Adicionar nova foto</label>
            <input name="Photo" type="file" class="form-control" />
            <input type="submit" value="Enviar" class="btn btn-default" />
        </div>

    }

    <div class="photos-container">
        @foreach (var photo in Model.Photos)
        {
            <img src="@photo.Url" class="photo">
        }
    </div>
</div>
<p>
    @Html.ActionLink("Voltar", "Details", "Profile", new { id = Model.ProfileId }, null)
</p>
