<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AzureStorageService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AzureStorageService.Properties.Settings>
            <setting name="StorageConnectionString" serializeAs="String">
                <value>DefaultEndpointsProtocol=https;AccountName=socialnetworkstorage;AccountKey=AuVXt4GApKLbuySKt6zzhsc7oIBfIVwllco/8iOCwMGLcaScSxzZGrwEWkIjSai2+LSgJb1Ik3t1F5SEunWSfw==;EndpointSuffix=core.windows.net</value>
            </setting>
        </AzureStorageService.Properties.Settings>
    </applicationSettings>
</configuration>